html {
    font-size: 10px; /* Tamaño de la fuente base que va a tener mi pagina*/
    font-family: "Open Sans", sans-serif; /* Se escoge la fuente y una fuente de respaldo */
    background-color: beige;
}
h1{
    font-size: 60px;
    text-align: center;
}
ul,
p {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 4px 3px 1px black;
}
img{
    margin: 0 auto;
    display: block;
}